# Copy this file to .env and fill values
PORT=
FRONT_ORIGIN=
DB_URL=
DB_URL_ONLINE=
SALT_ROUND=
SIGNATURE=
ACCESS_TOKEN_USER=
ACCESS_TOKEN_ADMIN=
REFRESH_TOKEN_USER=
REFRESH_TOKEN_ADMIN=
EMAIL=
PASS=
CLOUD_NAME=
API_KEY=
API_SECRET=
ENCRYPT_PHONE=
WEB_CLIENT_ID=
